# Ignore all node_modules everywhere
**/node_modules/

# Ignore everything inside incoming/
incoming/*

# But keep the README (case-insensitive, in case it's .md or .MD)
!incoming/README*

# Ignore GALLERY because there should not be any code in there
gallery/*

# Ignore everything in the test ftp upload folder
ftp/uploads/*

config.json