
<div class="form-container">
    <mat-card>
    <mat-card-content>

        @if(initialized) {
            <h1>{{title}}</h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" >
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Submit</button>
            </form>
        } @else  {
            <h1>Initialize Gallery</h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" />
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Submit</button>
            </form>
        }

    </mat-card-content>
    </mat-card>
</div>
