@if (found) {
    <h1>Update FTP Config</h1>
} @else {
    <h1>Setup FTP Config</h1>
}

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="material-form">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput id="title" formControlName="title" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Host</mat-label>
    <input matInput id="host" formControlName="host" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Remote Directory</mat-label>
    <input matInput id="remoteDirectory" formControlName="remoteDirectory" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Website URL</mat-label>
    <input matInput id="websiteUrl" type="url" formControlName="websiteUrl" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Website Directory</mat-label>
    <input matInput id="websiteDirectory" formControlName="websiteDirectory" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Transfer Protocol</mat-label>
    <input matInput id="transferProtocal" formControlName="transferProtocal" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>User Name</mat-label>
    <input matInput id="userName" formControlName="userName" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Key</mat-label>
    <input matInput id="key" formControlName="key" />
    <mat-hint>Optional and not stored.  If you provide a key you must provide it before uploading.  I can not be recoved.</mat-hint>
  </mat-form-field>

    <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput id="pw" formControlName="pw" />
    <mat-hint>Encrypted And Stored But Not Displayed.</mat-hint>
  </mat-form-field>

  <button type="button" mat-raised-button color="primary" (click)="openDialog()">
    Test Config
  </button>
  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Submit
  </button>
</form>


<ng-template #ftpConfigTemplate>
  <h2 mat-dialog-title>FTP/SFTP Config Test</h2>
  <mat-dialog-content>
    <table>
      <thead>
        <th>poperty</th>
        <th>&nbsp;</th>
        <th>result</th>
      </thead>
      <tbody>
        <tr>
          <td>Host Availability<br> ({{ form.controls['host'].value }})</td>
          <td>
            <button mat-raised-button color="primary" (click)="testHost()">
              Test
            </button>
          </td>
          <td class="centered">

            @if(hostStatus === 'ok') {
              <mat-icon color="primary">check_circle</mat-icon>
            }

            @if(hostStatus === 'fail') {
              <mat-icon color="warn">cancel</mat-icon>
            }

            @if(hostStatus === 'unknown') {
              <mat-icon color="disabled">help_outline</mat-icon>
            }


          </td>
        </tr>

        <tr>
          <td>Host Protocal<br> ({{ form.controls['host'].value }})</td>
          <td>
            <button mat-raised-button color="primary" (click)="testHostProtocals()">
              Test
            </button>
          </td>
          <td>
            <div>
            FTP: 
            @if(ftpStatus === 'ok') {
              <mat-icon color="primary">check_circle</mat-icon>
            }

            @if(ftpStatus === 'fail') {
              <mat-icon color="warn">cancel</mat-icon>
            }

            @if(ftpStatus === 'unknown') {
              <mat-icon color="disabled">help_outline</mat-icon>
            }
            </div>
            <div>
            SFTP: 
            @if(sftpStatus === 'ok') {
              <mat-icon color="primary">check_circle</mat-icon>
            }

            @if(sftpStatus === 'fail') {
              <mat-icon color="warn">cancel</mat-icon>
            }

            @if(sftpStatus === 'unknown') {
              <mat-icon color="disabled">help_outline</mat-icon>
            }
            </div>


          </td>
        </tr>

        <tr>
          <td>Check FTP Creds<br> ({{ form.controls['host'].value }})</td>
          <td>

            <div class="flex">
              <mat-form-field appearance="outline" class="key-field">
                <input #key matInput placeholder="Enter key" />
              </mat-form-field>

              <button  (click)="checkFtp(key.value)" mat-raised-button color="primary" style="margin-left: 8px;">
                Test
              </button>
            </div>

          </td>
          <td class="centered key-status">

            @if(ftpCredsStatus === 'ok') {
              <mat-icon color="primary">check_circle</mat-icon>
            }

            @if(ftpCredsStatus === 'fail') {
              <mat-icon color="warn">cancel</mat-icon>
            }

            @if(ftpCredsStatus === 'unknown') {
              <mat-icon color="disabled">help_outline</mat-icon>
            }


          </td>
        </tr>

      </tbody>
    </table>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="closeDialog()">Close</button>
  </mat-dialog-actions>
</ng-template>