.material-form {
  display: flex;
  flex-direction: column;
  gap: 16px; /* space between fields */
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;
}

h1 {
    text-align: center;
}

mat-icon {
  top: 5px;
  position: relative;
}

td.centered {
  text-align: center;       /* horizontal centering */
  vertical-align: middle;   /* vertical centering */
}

td {
  padding: 5px;
}