@if (found) {
    <h1>Update FTP Config</h1>
} @else {
    <h1>Setup FTP Config</h1>
}

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="material-form">
  <mat-form-field appearance="outline">
    <mat-label>Title</mat-label>
    <input matInput id="title" formControlName="title" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Host</mat-label>
    <input matInput id="host" formControlName="host" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Remote Directory</mat-label>
    <input matInput id="remoteDirectory" formControlName="remoteDirectory" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Website URL</mat-label>
    <input matInput id="websiteUrl" type="url" formControlName="websiteUrl" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Website Directory</mat-label>
    <input matInput id="websiteDirectory" formControlName="websiteDirectory" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Transfer Protocol</mat-label>
    <input matInput id="transferProtocal" formControlName="transferProtocal" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Key</mat-label>
    <input matInput id="key" formControlName="key" />
  </mat-form-field>

    <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input matInput id="pw" formControlName="pw" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
    Submit
  </button>
</form>
